@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Josefin+Sans:ital,wght@1,700&family=Sue+Ellen+Francisco&display=swap');



body{
    max-width: 1600px;
    text-align: center;
    background-color:white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 22px;
    margin: 0;
    padding: 0;

  
}

.home-title{
  font-family:Arial, Helvetica, sans-serif;
  font-size: 2em;

}

header{
    max-width: 1600px;
    margin: 0 auto;
    text-align: left;
    background-color:#ffd166c6
}

#content {
    max-width: 1600px;
    margin: 0 auto;
    text-align: center;
  }

  
  nav a{
    max-width: 1600px;
    margin: 0 auto;
    text-align: center;
    background-color:#ffd166a2;
    color: white;
    text-decoration: none;
    padding: 35px;
  }

  nav a:hover{
    max-width: 1600px;
    margin: 0 auto;
    text-align: center;
    background-color:#38a3a561;
  }

  #logo_link{
    padding-top: 5px;
  }

  .logo{
    width: 80px;
  }

  .icon{
    width: 80px;
    padding-top: 10px;
  }


  #hero-msg h1{
    max-width: 1600px;

    font-size: 18px;
    text-align: center;
  }

  hero-msg h4{
    max-width: 1600px;

    font-size: 18px;
    text-align: center;
  }
  


  #hero-img{
    width: 100%;
    height: 900px;
  }

  .button-box{
    max-width: 1600px;
    margin: 0 auto;
    text-align: center;
  }

  main section{
    max-width: 1600px;
    margin: 0 auto;
    padding: 4em;
    font-size: 18px;
    text-align: center;
  }

  #background{
    height: 725px;
    background-color:white;
  }

    .home-title {
      color: #38A3A5;
      margin-top: 10px;
  
    }

    .msg{
      background-color:azure;
      line-height: 1.5em;
     
      padding: 35px;
    }

    h2{
      margin: 0;
    }

    h4 {
      color: #22577A;
  
    }

    .book, .join {
      color: #57CC99;
      text-decoration: none;
      font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-size: 18px;
      padding: 15px 30px;
      margin-top: 50px;
      border-radius: 5px;
    }


    .book:hover, .join:hover{
      color: #57cc995c;
    
    }


    .msg h2{
      color: #38A3A5;
      --heading-font: "Sue Ellen Francisco";
    }
    .msg p{
      color: #22577A;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-size: 1.5em;
      padding-bottom: 15px;
      
    }

  

    footer{
      color:#22577A;
      padding: 25px 50px;
      margin-top: 200px;
      

    }

    footer a{
      color:#57CC99;
      text-decoration:none;

      
    }

    footer a:hover{
      color:#57cc995c;
      
      
    }

    footer p {
      font-size: 1.2em;
    }


    footer p a:hover {
      text-decoration: underline;
      
    }

    footer.social img{
      padding-top: 15px;
    }

    .rivers-card{
      margin: 200px 0;
    }

    .camping-card{
      margin: 200px 0;
    }

    .rapids-card{
      margin: 200px 0;
    }

    .card-img{
      border: 10px solid #38A3A5;
    }

    main section img{
      box-sizing: border-box
    }
      
  
  
  

  